@import "../common/nav.css";
@import "../common/car_list.css";
.disn {
  display: none;
}
.mui-content.self-content-box {
  padding-top: 1.13rem;
  padding-bottom: 50px;
}
.mui-content.self-content-box .mui-self-top {
  position: relative;
  background-color: #fff;
  padding: .41rem .34rem .41rem .58rem;
}
.mui-content.self-content-box .mui-self-top .mui-head-img {
  display: inline-block;
  margin-right: .36rem;
}
.mui-content.self-content-box .mui-self-top .mui-head-img img {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
}
.mui-content.self-content-box .mui-self-top .mui-self-infor {
  display: inline-block;
  vertical-align: middle;
}
.mui-content.self-content-box .mui-self-top .mui-self-infor h2 {
  font-size: .46rem;
  color: #010101;
  line-height: .65rem;
}
.mui-content.self-content-box .mui-self-top .mui-self-infor p {
  font-size: .37rem;
  color: #fd521d;
  line-height: .56rem;
  margin: 0;
  padding: 0;
}
.mui-content.self-content-box .mui-self-top .mui-change {
  display: inline-block;
  position: absolute;
  right: .34rem;
  top: 50%;
  margin-top: -0.3rem;
  border: 1px solid #e4e5e9;
  border-radius: .29rem;
  text-align: center;
  width: 2.2rem;
  height: .6rem;
  line-height: .6rem;
}
.mui-content.self-content-box .mui-self-top .mui-change .ic_account {
  display: inline-block;
  width: .3rem;
  height: .28rem;
  background: url(../../img/m_icon1.png) no-repeat;
  background-size: 100%;
  margin-right: .09rem;
}
.mui-content.self-content-box .mui-self-top .mui-change span {
  color: #6c6c6c;
  font-size: .28rem;
}
.mui-content.self-content-box .self-center .mui-table-view {
  margin-top: .19rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell {
  padding: 0;
  font-size: .38rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_mycollect,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_mybrowse,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_pricerecord,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_carrecord,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_calculator,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_compare,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_setting,
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_drive {
  display: inline-block;
  width: .4rem;
  height: .39rem;
  background-size: cover;
  background-image: url(../../img/icon_friend.png);
  vertical-align: middle;
  margin: 0 .23rem .06rem 0;
  background-repeat: no-repeat;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_mybrowse {
  background-image: url(../../img/m_icon2.png);
  width: .44rem;
  height: .28rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_pricerecord {
  background-image: url(../../img/m_icon4.png);
  width: .37rem;
  height: .39rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_carrecord {
  background-image: url(../../img/m_icon6.png);
  width: .37rem;
  height: .31rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_drive {
  background-image: url(../../img/m_icon5.png);
  width: .37rem;
  height: .37rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_calculator {
  background-image: url(../../img/m_icon7.png);
  width: .37rem;
  height: .37rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_compare {
  background-image: url(../../img/m_icon8.png);
  width: .37rem;
  height: .37rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .ic_setting {
  background-image: url(../../img/m_icon9.png);
  width: .37rem;
  height: .37rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .mui-login {
  padding: .38rem 0;
  text-align: center;
  font-size: .38rem;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell .mui-login a {
  display: block;
  color: #ff5a37;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell > a:not(.mui-btn) {
  margin: 0;
  padding: 11px 15px;
}
.mui-content.self-content-box .self-center .mui-table-view .mui-table-view-cell:after {
  left: 0;
}
.mui-content.self-content-box .self-center .mui-table-view:after,
.mui-content.self-content-box .self-center .mui-table-view:before {
  height: 0;
}
/*公共页面*/
.mui-content .mui-main-common .mui-common-tit {
  width: 100%;
  text-align: center;
  background-color: #fff;
  position: fixed;
  z-index: 3;
  top: 1.13rem;
  left: 0;
  border-bottom: 1px solid #eaeaea;
}
.mui-content .mui-main-common .mui-common-tit a {
  display: inline-block;
  padding: .36rem .37rem;
  margin: 0 1.2rem;
  color: #aeaeae;
  font-size: .37rem;
}
.mui-content .mui-main-common .mui-common-tit a.active {
  border-bottom: .06rem solid #ff6402;
  color: #010101;
}
.mui-content .mui-main-common .mui-common-cont {
  padding-top: 2.4rem;
  padding-bottom: 50px;
}
