@import "../common/nav.css";
@import "../common/car_list.css";
@import "../common/common.css";
.mui-price-color {
  color: #fd521d;
  font-style: normal;
}
body .current-style {
  color: #fd521d !important;
}
.mui-search-box.new-car-box {
  background-color: #f3f3f5;
  box-shadow: none;
}
.mui-search-box.new-car-box .mui-search:before {
  left: 2.06rem;
  top: .39rem;
}
.mui-search-box.new-car-box .mui-search .mui-search-tit {
  position: absolute;
  font-size: .35rem;
  margin: .14rem 0 .15rem .39rem;
  padding: .07rem .31rem .08rem 0;
  line-height: .37rem;
  z-index: 2;
  border-right: 1px solid #f3f3f5;
}
.mui-search-box.new-car-box .mui-search .mui-search-tit i {
  display: inline-block;
  width: .2rem;
  height: .12rem;
  background: url(../../img/select.png) no-repeat;
  background-size: cover;
  margin-left: .16rem;
  vertical-align: middle;
}
.mui-search-box.new-car-box .mui-search .mui-placeholder {
  font-size: .31rem;
  padding-left: 2.06rem;
}
.mui-search-box.new-car-box .mui-search .mui-placeholder .mui-icon-search {
  padding: 0 .1rem 0 0;
  margin: 0;
}
.mui-search-box.new-car-box .mui-search .mui-input-clear {
  display: inline-block;
  padding-left: 2.56rem;
  background-color: #fff;
}
.mui-search-box.new-car-box .mui-search.select-style {
  overflow: visible;
}
.mui-search-box.new-car-box .mui-search.select-style .search-tit-select {
  position: absolute;
  top: 1rem;
  left: -0.35rem;
  width: 2.4rem;
  background-color: rgba(26, 39, 61, 0.9);
  border-radius: 5px;
}
.mui-search-box.new-car-box .mui-search.select-style .search-tit-select div {
  height: 0px;
  width: 0px;
  border-left: 10px solid  transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid rgba(26, 39, 61, 0.9);
  position: absolute;
  top: -0.29rem;
  left: .93rem;
}
.mui-search-box.new-car-box .mui-search.select-style .search-tit-select a {
  display: block;
  margin: .32rem;
  color: #fff;
  padding: .2rem 0;
}
.select-mask {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
}
.mui-content.new-content-box {
  padding-top: 1.3rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view {
  width: 100%;
  display: inline-block;
  margin-top: 0;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-collapse {
  float: left;
  margin: .38rem .15rem;
  padding: 0;
  overflow: inherit;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-collapse:after {
  display: none;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-collapse .mui-navigate-right {
  max-width: 2.3rem;
  min-width: 2.1rem;
  text-align: center;
  vertical-align: middle;
  font-size: .34rem;
  margin: 0;
  padding: 0;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-collapse .mui-navigate-right:after {
  right: 0;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content {
  position: absolute;
  width: 100%;
  top: 1.29rem;
  z-index: 2;
  background-color: #fff;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-ranking {
  padding-left: 0.93rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-ranking a {
  display: block;
  height: 1.06rem;
  line-height: 1.06rem;
  color: #000;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-ranking a.mui-current {
  color: #fd521d;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-ranking a.mui-current:after {
  display: inline-block;
  content: '';
  width: .43rem;
  height: .28rem;
  background: url(../../img/right.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: .83rem;
  top: .35rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-price {
  font-size: 0;
  padding: .46rem 0 0 .39rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-price a {
  display: inline-block;
  width: 2.8rem;
  height: .93rem;
  line-height: .93rem;
  border-radius: 5px;
  text-align: center;
  font-size: .315rem;
  margin-right: .37rem;
  margin-bottom: .42rem;
  color: #000;
  border: 1px solid #e9e9e9;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .mui-price a.mui-current {
  background-color: #fd521d;
  color: #fff;
  border-color: #fd521d;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price {
  position: relative;
  margin-bottom: .5rem;
  padding: 0 .39rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price span {
  display: inline-block;
  font-size: .37rem;
  vertical-align: middle;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .custom-min,
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .custom-max {
  display: inline-block;
  margin-left: .08rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .custom-min input,
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .custom-max input {
  width: 1.5rem;
  height: .8rem;
  margin: 0 .2rem 0 0;
  padding: .2rem .27rem;
  text-align: center;
  vertical-align: middle;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price em {
  display: inline-block;
  width: .4375rem;
  height: .0625rem;
  background-color: #c8c7cc;
  vertical-align: middle;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .price-customBtn {
  display: inline-block;
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
  vertical-align: middle;
  font-size: .37rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-left: .1rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-panel-content .mui-collapse-content .custom-price .price-customBtn.active {
  background: #ff651b;
  border: 1px solid #ff651b;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-active {
  background-color: #fff;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-active .mui-navigate-right {
  color: #fd521d;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell.mui-active .mui-navigate-right:after {
  color: #fd521d;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-table-view-cell > a:not(.mui-btn).mui-active {
  background-color: #fff;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-box {
  position: relative;
  vertical-align: top;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-box a {
  display: inline-block;
  vertical-align: top;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body {
  display: inline-block;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-new-price {
  margin: .38rem 0;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-new-price span {
  font-size: .3rem;
  color: #aeaeae;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-new-price em {
  font-size: .46rem;
  margin-left: .1rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-text-box {
  margin-top: 0;
  bottom: .26rem;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-text-box .mui-new-des {
  display: inline-block;
  font-size: .32rem;
  color: #595959;
  line-height: .55rem;
  max-width: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.mui-content.new-content-box .new-main-cont .mui-table-view .mui-media-body .mui-text-box .mui-new-type {
  display: inline-block;
  width: 1.5rem;
  height: .55rem;
  line-height: .55rem;
  text-align: center;
  background-color: #fff5f5;
  border-radius: 0.09rem;
  border: solid 1px #ffae95;
  color: #fd521d;
  font-size: .32rem;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell {
  padding-left: 0;
  padding-right: 0;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel {
  color: #f3f5f8;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box h2 {
  font-size: .36rem;
  color: #010101;
  background-color: #fafbfd;
  padding-left: .41rem;
  line-height: .78rem;
  margin: 0;
  font-weight: normal;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box .mui-panel-cont {
  font-size: .32rem;
  padding-left: 0;
  color: #666a72;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box .mui-panel-cont li {
  border-bottom: 1px solid #ececec;
  line-height: .55rem;
  position: relative;
  padding: .24rem 0;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box .mui-panel-cont li a {
  display: block;
  padding: 0;
  padding-left: .95rem;
  color: #666a72;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box .mui-panel-cont li a span.panel-price {
  position: absolute;
  right: .42rem;
  color: #fd521d;
  font-size: .34rem;
}
.mui-content.new-content-box .new-main-cont .mui-cont-box .mui-new-list .mui-table-view-cell .mui-new-panel .mui-panel-box .mui-panel-cont li:last-child {
  border: none;
}
.mui-content.new-content-box .mui-view-pos .mui-nav-view {
  position: fixed;
  z-index: 13;
}
.mui-content.new-content-box .mui-view-pos .mui-cont-box {
  padding-top: 2.58rem;
  padding-bottom: 1.1rem;
}
.mui-mask-head .mui-bar-nav {
  background-color: #fff;
  box-shadow: none;
  height: 1rem;
  line-height: 1rem;
  border-bottom: 1px solid #e9e9e9;
}
.mui-mask-head .mui-bar-nav .mui-pull-left {
  padding-top: 7px;
  color: #000000;
}
.mui-mask-head .mui-bar-nav h1 {
  line-height: 1rem;
}
.mui-mask-head .mui-content {
  padding-top: 1rem;
}
.mui-mask-head .mui-content .mui-indexed-list {
  border-top: none;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-bar {
  background-color: rgba(255, 255, 255, 0);
  padding-bottom: 1.5rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-bar a {
  color: #fd521d;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view {
  padding-bottom: 30px;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-indexed-list-group {
  height: 1.19rem;
  line-height: 1.19rem;
  padding-left: .7rem;
  font-size: .37rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-indexed-list-group:after,
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-indexed-list-group:before {
  -webkit-transform: none;
  transform: none;
  background-color: #e9e9e9;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box ul {
  margin: 0;
  padding-left: .3rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box ul .mui-indexed-list-item {
  font-size: .37rem;
  color: #000;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box ul .mui-current {
  color: #fd521d;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box #mui-hot {
  font-size: .37rem;
  color: #000;
  background-color: #fff;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box #mui-hot:before {
  left: .7rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box #mui-hot:after {
  height: 0;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-hot-brand {
  margin-top: .1rem;
  padding-left: .6rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-hot-brand a {
  display: inline-block;
  width: 2.66rem;
  height: 0.92rem;
  line-height: .92rem;
  text-align: center;
  border: 1px solid #e9e9e9;
  color: #000;
  margin-right: .35rem;
  margin-bottom: .39rem;
  border-radius: 8px;
  font-size: .31rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-hot-brand .mui-current {
  color: #fff;
  background-color: #fd521d;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-unlimited {
  font-size: .37rem;
  color: #000;
  margin: .39rem 0;
  padding-left: .7rem;
}
.mui-mask-head .mui-content .mui-indexed-list .mui-indexed-list-inner .mui-table-view .mui-list-box .mui-unlimited.mui-current {
  color: #fd521d;
}
.mui-more-screening.mui-scroll-wrapper {
  position: fixed;
  z-index: 12;
  padding-top: 1.3rem;
  background-color: #fff;
  height: 100%;
}
.mui-more-screening .mui-content {
  background-color: #fff;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box .mui-screen-tit {
  font-size: .37rem;
  height: .8rem;
  line-height: .8rem;
  background-color: #fff;
  padding-left: .4rem;
  padding-top: .1rem;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box ul {
  padding-left: .4rem;
  font-size: 0;
  margin-top: .28rem;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box ul li {
  display: inline-block;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box ul li a.mui-screen-list {
  display: inline-block;
  width: 2.8rem;
  height: .93rem;
  line-height: .93rem;
  border-radius: 5px;
  text-align: center;
  font-size: .315rem;
  margin-right: .4rem;
  margin-bottom: .42rem;
  color: #000;
  border: 1px solid #e9e9e9;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box ul li a.mui-current {
  background-color: #fd521d;
  color: #fff;
  border-color: #fd521d;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a {
  text-align: left;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i {
  display: inline-block;
  width: .41rem;
  height: .41rem;
  vertical-align: middle;
  margin: 0 .18rem .04rem .37rem;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.black {
  background-color: #061414;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.white {
  background-color: #ffffff;
  border: solid 0.01rem #bfc5cf;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.silver {
  background-color: #f0f0f0;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.gray {
  background-color: #616262;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.red {
  background-color: #ff4646;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.orange {
  background-color: #f58915;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.green {
  background-color: #6cbf3f;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.blue {
  background-color: #18a3e4;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.coffee {
  background-color: #87380d;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.purple {
  background-color: #723fbf;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.champagne {
  background-color: #efd49b;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.colours {
  background-image: linear-gradient(-48deg, #0a00b2 0%, #ff0000 50%, #fffc00 100%), linear-gradient(#efd49b, #efd49b);
  background-blend-mode: normal, 
											normal;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.yellow {
  background-color: #fcde15;
}
.mui-more-screening .mui-content .mui-arg-box .mui-screen-box.mui-color-box ul li a i.other {
  background-color: #ffffff;
  border: solid 0.01rem #bfc5cf;
}
.mui-screen-btn {
  width: 100%;
  padding: 0 .4rem;
}
.mui-btn-class {
  width: 2.8rem;
  height: .93rem;
  border-radius: 5px;
  font-size: .315rem;
  margin-bottom: .42rem;
}
.mui-indexed-list-inner .mui-screen-btn {
  position: fixed;
  width: 100%;
  margin-top: .5rem;
  bottom: 0;
}
.mui-more-screening.mui-backdrop {
  overflow: auto;
  top: 0rem;
}
.mui-navigate-right:after,
.mui-push-left:after,
.mui-push-right:after {
  top: 53%;
}
.mui-range {
  padding: .25rem .42rem;
  position: relative;
}
.mui-range .range-tit {
  color: #010101;
  font-size: .37rem;
}
.mui-range .range-tit span {
  color: #aeaeae;
  margin-left: .2rem;
  font-size: .28rem;
}
.mui-range .tip-content {
  color: #fd521d;
}
.grid-text-style {
  visibility: visible!important;
}
